blockquote {
    margin: 0.5rem 0 1rem;
}

.slidev-layout ul {
    list-style: disc;
}

.slidev-layout ul ul {
    list-style-type: none;
}

.slidev-layout ul ul li {
    margin-left: 0;
}

.slidev-layout ul ul li::before {
    content: '☞';
    margin-right: 8px;
}

.slidev-layout h2 {
    color: hsl(10 70% 65%);
    font-weight: 600;
    margin-bottom: 1rem;
}

.sub-title {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.slidev-vclick-target {
    transition: all 200ms ease;
}

.click-fade .slidev-vclick-prior {
    opacity: 0.3;
}

.highlight .slidev-vclick-hidden {
    color: rgba(0,0,0,1);
    opacity: 1!important;
}

.highlight .slidev-vclick-prior {
    color: rgba(0,0,0,0.3);
    opacity: 1!important;
}

.highlight .slidev-vclick-prior .highlighted {
    color: rgba(0,0,0,1);
}

.statement {
    font-size: 3rem;
    line-height: 1;
    text-indent: 40px;
    margin-top: 3rem;
    color: hsl(10 70% 50%);
}

li:has(ul) {
    margin-bottom: 1rem;
}

